
body {
    background-image: url(../Imagenes/fondocss.png);
    background-size: cover;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);  
}

.topnav {
    background-color: rgb(0, 0, 0); 
    overflow: hidden;
    height: 45px;
}
    
.topnav a {
    text-decoration: none;
    font-size: 20px;
    float: left;  
    padding: 10px 13px;
    color: rgb(255, 255, 255);
}

.topnav a:hover {
    background-color: rgb(36, 36, 90);
    color: rgb(255, 0, 0);
}

.topnav a.active {
    background-color: rgb(28, 28, 243);    
}

.parrafo {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;   
    width: 70%;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
}

m {
    font-weight: bold;
    text-decoration: underline;
}



