
.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}

.container .card {
    width: 340px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    margin: 0 60px;
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0.1);
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
}


