
img {
    height: 280px;
}

.card1{
    width: 100%;
    height: 80%;
    background-color: white;  
}

.card2{
    width: 100%;
    height: 80%;
    background-color: white;
}

.margen{
    margin-top: 20px;
}