 body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    background-color: rgb(206, 204, 204);
}

.topnav {
    overflow: hidden;
    background-color: #333;
     margin-bottom: 10px; 
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
}

.align {
    float: left;
}
.align2 {
    float: right;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #05532f;
}

.title {
    max-width: 25%;
    background-color: #0c77f1;
    text-align: center;
    padding: 8px 12px;
    border: 0px solid red;
    border-radius: 40px;
    margin: 0 auto;
}

.title:hover {
    background-color: rgb(12, 7, 49);
    padding: 5px 10px;
    border: 5px solid #0c77f1;
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.parrafo {
    width: 85%;
    margin: 0 auto;
    background-color: #5ca1fb;
    text-align: justify;
}

.listas {
    width: 70%;
    background-color: #5ca1fb;
    margin: 0 auto;
}